3-Dashboarding-using-MQTT.json
[
    {
        "id": "4b869548c6741e1d",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "ea/datc/s/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f77a3f58af749b8d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 1520,
        "wires": [
            [
                "be3ea7e096b4a9b9",
                "e0d3b1994d309055",
                "e7409ee612cb8816"
            ]
        ]
    },
    {
        "id": "e0d3b1994d309055",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "18246a2c0fbff20f",
        "order": 4,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.RH}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 720,
        "y": 1500,
        "wires": []
    },
    {
        "id": "be3ea7e096b4a9b9",
        "type": "ui_gauge",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "18246a2c0fbff20f",
        "order": 1,
        "width": 5,
        "height": 4,
        "gtype": "wave",
        "title": "Temperature",
        "label": "C",
        "format": "{{msg.payload.TMP}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 710,
        "y": 1540,
        "wires": []
    },
    {
        "id": "e7af94ed52df03b4",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Display Sensor Data in a Dashboard",
        "info": "",
        "x": 540,
        "y": 1440,
        "wires": []
    },
    {
        "id": "e7409ee612cb8816",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f77a3f58af749b8d",
        "type": "mqtt-broker",
        "name": "ZR",
        "broker": "zr.txio.live",
        "port": "1880",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "18246a2c0fbff20f",
        "type": "ui_group",
        "name": "Temperature and humidity monitoring",
        "tab": "fb6fc3baacf6347f",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb6fc3baacf6347f",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]